*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: rgb(242, 230, 255);
    /* background-color: red; */
    height: 100vh;
    font-family: poppins;    
    overflow-x: hidden;
}
header{
    /* background-color: red; */
    margin-bottom: 20px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
header p{
    /* color: rgb(94, 94, 255); */
    color: blue;
    font-size: 2.8rem;
    padding-bottom: 10px;
    font-weight: 500;
}
main{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
}
form{
    background-color: rgba(185, 168, 255, 0.329);
    width: 500px;
    height: max-content;
    padding: 30px 10px 10px 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
}
#email{
    padding-right: 30px;
}
.email-section{
    /* background-color: blueviolet; */
    display: flex;
}
input{
    width: 20vw;
    height: 28px;
    padding: 8px 0px 8px 8px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-family: poppins;
    color: rgb(110, 110, 110);
    /* color: rgb(183, 147, 255); */
    background-repeat: no-repeat;
    background-position: right 6px center;
    flex-grow: 1;
    letter-spacing: 0.05rem;
    border: 2px solid rgba(0, 0, 255, 0);
}
input[type="email"]:focus {
  /* Your focus styles here */
  border-color: blue;
}
input[type="text"]:focus,input[type="password"]:focus{
    /* Your focus styles here */
    border-right: none;
    border-color: blue;
}

.pwd-Section{
    /* background-color: chartreuse; */
    display: flex;
}
#password{
    border-radius: 4px 0px 0px 4px;
}
#icon-div{
    width: 30px;
    height: auto;
    /* background-color: red; */
    background-color: white;
    border-radius: 0px 4px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon{
    width: 18px;
    height: 18px;
    /* background-color: yellow; */
    margin-right: 4px;
}
.icon{
    background-image: url('../images/hide.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
input::placeholder{
    font-size: 0.8rem;
    font-family: poppins;
    /* color: rgba(88, 88, 88, 0.371); */
    color: rgba(0, 175, 214, 0.371);
}
ul{
    padding: 0px;
    margin: 4px 0px 16px 0px;
}
li{
    list-style: none;
    font-size: 0.7rem;
    color: red;
    padding-left: 5px;
}
.btn-div{
    display: flex;
    /* background-color: red; */
    justify-content: flex-end;
}
button{
    background-color: rgba(163, 190, 249, 0.855);
    padding: 8px 12px;
    margin: 10px 0px 10px 10px;
    border: none;
    border-radius: 4px;
    color: rgba(247, 245, 245, 0.841);
    letter-spacing: 0.04rem;
    font-family: poppins;
}
.enable-btn{
    background-color: #0000d7;
    color: white;
    cursor: pointer;
}
.enable-btn:hover{
    background-color: rgb(45, 45, 255);
}
footer{
    background-color: rgb(0, 133, 250);
    /* background-color: rgb(94, 94, 255); */
    width: 100%;
    height: 8vh;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 300;
}

/*Media query for devices */
 @media screen and (max-width: 538px) {
    
    form{
        width: 90vw;
    }
    header p{
        font-size: 2.2rem;
    }
    input{
        height: 22px;
        border: 1px solid rgba(0, 0, 255, 0);
    }
    
}

